---
import Main from '../layouts/Main.astro';
---
<Main>
  <div class="download-container fade-in-on-scroll">
    <h1>Valkyrie Launcher Download</h1>
    <p>Click the button below to download the official launcher.</p>
    <a href="https://github.com/r5valkyrie/launcher_releases/releases/latest" class="download-btn" download>Download</a>

    <div class="instructions">
      <h2>Installation Instructions</h2>
      <ol>
        <li>Download the ` R5-Valkyrie-Launcher-Setup-*.exe ` file using the button above.</li>
        <li>Run the installer and follow the on-screen prompts.</li>
        <li>Once installed, the launcher will open.</li>
        <li>Choose what release branch you want to play on.</li>
        <li>Click on the "Install" button to download the game files.</li>
        <li>Once the game files are downloaded, you can launch the game by clicking on the "Play" button.</li>
        <li>You're all set!</li>
      </ol>
    </div>
  </div>
</Main>
