---
import Main from '../layouts/Main.astro';
---

<Main>
	<div class="container fade-in-on-scroll">
		<img src="/assets/logo_small.png" alt="Valkyrie Logo" class="center-image">
		<div class="center-text">Welcome to Valkyrie</div>
	</div>
</Main>
