---
---
<div id="checksums-update" class="checksums-tab" hidden>
  <div class="top-content"></div>
    <form id="checksums-update-form">
        <button class="close-btn" type="button">X</button>
        <label>Update Checksum</label><br>

        <label for="checksum">Checksum (Readonly)</label>
        <input name="checksum" type="text" id="checksum2Input" readonly/><br>

        <label for="sdkversion">SDK Version</label>
        <select id="sdkversion2Input" name="sdkversion"></select>

        <label for="description">Description</label>
        <input name="description" type="text" id="description2Input" /><br>

        <button class="btn-primary" type="submit">Update</button>
    </form>
</div>
