---
---
<div id="checksums-add" class="checksums-tab" hidden>
  <div class="top-content"></div>
    <form id="checksums-add-form">
        <button class="close-btn" type="button">X</button>
        <label>Add Checksum</label><br>

        <label for="checksum">Checksum</label>
        <input name="checksum" type="text" id="checksumInput" /><br>

        <label for="sdkversion">SDK Version</label>
        <select id="sdkversionInput" name="sdkversion"></select>

        <label for="description">Description</label>
        <input name="description" type="text" id="descriptionInput" /><br>

        <button class="btn-primary" type="submit">Add</button>
    </form>
</div>
