---
---
<div id="versions-update" class="versions-tab" hidden>
  <div class="top-content"></div>
    <form id="versions-update-form">
      <button class="close-btn" type="button">X</button>
      <label>Update Version</label><br>

      <label for="name">Name</label>
      <input name="name" type="text" id="name2Input" readonly/>

      <!-- Flags removed; real types always enabled internally -->

      <label for="checksums_enabled">Checksums Enabled</label>
      <input name="checksums_enabled" type="checkbox" id="checksumsenabled2Input" />
      <br><br>
      <label for="supported">Supported</label>
      <input name="supported" type="checkbox" id="supported2Input" />
      <br><br>
      <button class="btn-primary" type="submit">Update</button>
    </form>
</div>
