---
---
<div id="versions-add" class="versions-tab" hidden>
    <div class="top-content"></div>
    <form id="versions-add-form">
        <button class="close-btn" type="button">X</button>
        <label>Add Version</label><br>

        <label for="name">Name</label>
        <input name="name" type="text" id="nameInput" />

        <!-- Flags removed; real types always enabled internally -->

        <label for="checksums_enabled">Checksums Enabled</label>
        <input name="checksums_enabled" type="checkbox" id="checksumsenabledInput" />
        <br><br>
        <label for="supported">Supported</label>
        <input name="supported" type="checkbox" id="supportedInput" />
        <br><br>
        <button class="btn-primary" type="submit">Add</button>
    </form>
</div>
